{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/profile.css') }}" />
{% endblock %}

{% block body %}
    <div class="container-profile">
        <div class="profile-info">

        </div>
    </div>
{% endblock %}