<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <!-- Header -->
        <div class="header-container">
            {% block header %}{% endblock %}
        </div>
        <!-- End of Header -->

        <!-- Page content -->
        <div class="page-container" style="max-width: 1564px;">
            {% block body %}{% endblock %}
        </div>
        <!-- End of Page content -->

        <!-- Footer -->
        <footer class="footer-container">
            {% block footer %}{% endblock %}
        </footer>
        <!-- End of Footer -->

        {% block javascripts %}{% endblock %}
    </body>
</html>
