body {
    background-color: #f6f5f2;
}

.page-container {
    min-height: 400px;
}

.container-signup,
.container-login {
    margin-top: 50px;
}

.container-home {
    margin-top: 20px;
}

/* HEADER */
.header-main {
    background-color: #4a5a66;
    height: 51px;
    border-bottom: 1px solid #3c4c58;
}
.header-main .header-main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: normal;
}
.header-main .item {
    position: relative;
    vertical-align: middle;
    line-height: 1.7;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    padding: 0.92857143em 1.14285714em;
    text-transform: none;
    color: #ffffff;
    font-weight: normal;
    -webkit-transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
    transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
    height: 51px;
}
.header-main .right {
    position: absolute;
    right: 0;
    display: inherit;
}
.header-main .item:hover {
    background-color: #303e48;
}

.header-main-content .item.active {
    background-color: #303e48;
}
/* END HEADER */

/* SEMANTIC-UI */
.ui.grid {
    margin-top: 0;
}
/* END SEMANTIC-UI */