.container-home {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.breadcrumbs {
    padding: 3px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 3px;
}

.product-list-container .product-filter {
    position: relative;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 10px;
    width: 262px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
}

.product-filter .price .dash {
    margin-top: 5px;
}

.product-list-container .product-list {
    padding: 0 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}