.container-profile {
    position: relative;
    max-width: 1105px;
    margin: 20px auto;
}

.profile-info {
    position: relative;
    float: left;
    width: 325px;
    margin: 0 0 30px 15px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    text-align: center;
    padding: 20px;
}

.profile-image-container {
    margin-bottom: 10px;
}

.profile-image-container .image {
    vertical-align: middle;
    color: #ffffff;
    background-color: #3c7f7b;
}

.profile-image {
    width: 80px;
    height: 80px;
    font-size: 50px;
    position: relative;
    top: 30px;
}

.profile-name .header {
    margin-bottom: 0;
}

.profile-name .username {
    color: #a2a2a2;
    font-weight: normal;
}

.profile-name .description {
    text-align: left;
}

.profile-content {
    padding: 0 20px 0 10px;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    background: transparent;
    margin: 0 0 0 355px;
}