.container-profile {
    max-width: 1050px;
    margin: 20px auto;
}

.profile-info {
    margin: 0 0 20px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    padding: 20px;
    display: flex;
}

@media screen and (max-width: 600px) {
    .profile-info {
        display: block;
    }
    .profile-info > div {
        width: 100%;
        padding: 0 0 10px;
        border: none;
        text-align: center;
    }
}

.profile-content {
    font-size: 100%;
    border: 0;
    background: transparent;
}

.profile-image-container {
    width: 150px;
}

.profile-image-container .image {
    vertical-align: middle;
    color: #ffffff;
    background-color: #3c7f7b;
    text-align: center;
    border-radius: 2px;
}

.profile-image {
    width: 150px;
    height: 150px;
    font-size: 100px;
    position: relative;
    top: 65px;
}

.profile-details-container {
    width: 300px;
    padding: 0 20px;
}
.profile-details-container .header {
    margin-bottom: 0;
}
.profile-details-container .username {
    color: #a2a2a2;
    font-weight: normal;
}

.profile-content .ui.menu .active {
    font-weight: bold;
}

.profile-description-container {
    flex: 1;
    padding: 0 20px;
}

.profile-actions {
    width: 180px;
    padding-left: 20px;
}
.profile-actions .button {
    margin-bottom: 10px;
}
.profile-actions .button:last-child {
    margin-bottom: 0;
}