.container-profile {
    max-width: 1105px;
    margin: 20px auto;
}

.profile-info {
    position: relative;
    margin: 0 0 20px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    padding: 20px;
}

.profile-content {
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    background: transparent;
}

.profile-image-container {
    display: inline-block;
}

.profile-image-container .image {
    vertical-align: middle;
    color: #ffffff;
    background-color: #3c7f7b;
    text-align: center;
    border-radius: 2px;
}

.profile-image {
    width: 150px;
    height: 150px;
    font-size: 100px;
    position: relative;
    top: 65px;
}

.profile-details-container {
    margin-left: 20px;
    vertical-align: middle;
    display: inline-block;
    max-width: 600px;
}
.profile-details-container .header {
    margin-bottom: 0;
}
.profile-details-container .username {
    color: #a2a2a2;
    font-weight: normal;
}
.profile-details-container .description {
    text-align: left;
}

.profile-content .ui.menu .active {
    font-weight: bold;
}

.profile-actions {
    display: inline-block;
    float: right;
    border-left: 1px solid #eaeaea;
    padding-left: 20px;
    width: 200px;
    height: 150px;
}
.profile-actions .button {
    margin-bottom: 20px;
}