.container-profile {
    max-width: 1105px;
    margin: 20px auto;
}

.profile-info {
    position: relative;
    margin: 0 0 30px 15px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    text-align: center;
    padding: 20px;
}

.profile-image-container {
    margin-bottom: 20px;
}

.profile-image-container .image {
    vertical-align: middle;
    color: #ffffff;
    background-color: #3c7f7b;
}

.profile-image {
    width: 150px;
    height: 150px;
    font-size: 100px;
    position: relative;
    top: 65px;
}

.profile-name .header {
    margin-bottom: 0;
}

.profile-name .username {
    color: #a2a2a2;
    font-weight: normal;
}

.profile-name .description {
    text-align: left;
}

.profile-content {
    padding: 0 20px 0 10px;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    background: transparent;
    margin: 0 0 0 355px;
}

.profile-content .ui.menu .active {
    font-weight: bold;
}