{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}
<div class="ui text container">
    <div class="ui one column grid">
        <div class="column">
            <h1 class="ui huge header">Contact us</h1>
        </div>
    </div>
</div>
{% endblock %}
