<div class="footer-main">
    <div class="ui footer-main-content">
        <div class="left">
            © {{ year }} Spreepal. All rights reserved.
        </div>
        <div class="right">
            <a class="item" href="/contact">Contact us</a>
            <span> &middot; </span>
            <a class="item" href="/legal/termsAndConditions">Terms & Conditions</a>
            <span> &middot; </span>
            <a class="item" href="/legal/privacy">Privacy</a>
        </div>
    </div>
</div>