<div class="header-main">
    <div class="header-main-content">
        <div class="item">
            <img src="/images/logo.png">
        </div>
        <a class="item" href="/feed">Home</a>
        <div class="right">
            <a class="item" href="/signup">Create free account</a>
            <a class="item" href="/login">Log in</a>
        </div>
    </div>
</div>