<div class="header-main">
    <div class="header-main-content">
        <div class="item">
            <img src="/images/logo.png">
        </div>
        <a class="item" href="/feed">Feed</a>
        <a class="item right">Sign-in</a>
    </div>
</div>