{% extends 'base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
    <button class="ui button">
        Follow
    </button>

    <p class="test">Hello world</p>
    <button class="ui button">
        Follow
    </button>
{% endblock %}
