{% extends 'base.html.twig' %}

{% block title %}Privacy{% endblock %}

{% block body %}
<div class="ui text container">
    <div class="ui one column grid">
        <div class="column">
            <h1 class="ui huge header">Statement on Privacy and Data Protection</h1>
        </div>
    </div>
</div>
{% endblock %}
