<div class="product-filter">
    <div class="filter-option categories">
        <h3 class="ui header">Gender</h3>
        <div class="menu">
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="gender[Women]">
                    <label>Women</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="gender[Men]">
                    <label>Men</label>
                </div>
            </div>
        </div>
        <div class="ui section divider"></div>
    </div>

    <div class="filter-option categories">
        <h3 class="ui header">Categories</h3>
        <div class="menu">
            {% for key,value in mainCategories %}
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="category[{{ key }}]">
                        <label>{{ value }}</label>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="ui section divider"></div>
    </div>

    <div class="filter-option price">
        <h3 class="ui header">Price</h3>
        <div class="ui tiny form">
            <div class="two fields">
                <div class="field">
                    <input placeholder="Min" type="text" name="price[min]">
                </div>
                <span class="dash">&mdash;</span>
                <div class="field">
                    <input placeholder="Max" type="text" name="price[max]">
                </div>
            </div>
        </div>
        <div class="ui section divider"></div>
    </div>

    <div class="filter-option categories">
        <h3 class="ui header">
            Colors
        </h3>
        <div class="menu">
            {% for key,value in colors %}
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="color[{{ value }}]">
                        <label>{{ value }}</label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        $('.checkbox').checkbox();
        $('.checkbox').click(function () {
            // to get the input
            var $input = $(this).find('input');
            console.info($input.prop('checked'), $input.prop('name'));
            $.ajax({
                type:'POST',
                url: '/loadProducts',
                data: {
                    'test': true,
                },
                success: function(response) {
                    console.log(response);
                    $('.js-products').html(response);
                }});
            return false;
        });
    </script>
</div>