{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/home.css') }}" />
{% endblock %}

{% block body %}
    <div class="container-home">
        <div class="product-list-container">
            {{ render(controller("AppBundle:Home\\Filter:filter")) }}

            <div class="product-list">
                <div class="ui four column grid js-products">
                    {% for product in products %}
                        {{ render(controller("AppBundle:Home\\ProductItem:productItem", {'product': product})) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}